<div class="row">
 
      <div class="center jumbotron">   
  <div id="intro" >
    <h1>Wellcome to Social Network</h1>
    <h2>Connect with friends</h2>
    <p>See photos and updates</p>
    <p>Share what's new</p>

  
  </div>
</div>
</div>